# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*$py.class

# Django stuff
db.sqlite3
*.sqlite3

# Environment variables
.env
.env.*

# Virtual environments
venv/
env/
ENV/
.venv/

# Pipenv
Pipfile.lock

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log

# =========================
# Node / React / Vite
# =========================
node_modules/

# Build folders
dist/
build/

# Vite
vite.svg

# React cache
.eslintcache

# Package manager logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Tailwind
# =========================
.tailwindcss/

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Misc
# =========================
*.swp
*.swo